body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: red;
}

.menu {
  margin: 15px 50px 15px 50px;
}

.div-menu {
  text-align: right;
}
