.article-image-back,
.article-image-front {
  display: block;
  height: 200px;
  width: 200px;
}

.article-images {
  position: relative;
}

.article-image-front {
  position: absolute;
  top: 20px;
  left: 20px;
}

.article-text {
  width: calc(100% - 220px);
  padding-right: 20px;
}

.logo {
  height: 32px;
  padding-right: 10px;
}

.article-content {
  display: flex;
}

.article-title {
  width: 100%;
  display: block;
}

.article-entry-container {
  padding: 20px 40px;
}